<div class="w3-main" style="margin-left:340px;margin-right:40px">
<div class="w3-container" id="contact" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>All Users</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">User Name</th>
            <th scope="col">Email</th>
            <th scope="col">role</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tfoot>
            <tr>
                <th scope="col">User Name</th>
                <th scope="col">Email</th>
                <th scope="col">role</th>
                <th scope="col">Details</th>
            </tr>
          </tfoot>
        <tbody>
          <tr *ngFor="let item of dataArray">
              <td>{{ item.username }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.role }}</td>
            <td>
                <button class="btn btn-info  btn-sm" (click)="Godetails(item._id)">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
      
  </div>
</div>
