/* Appliquer une bordure rouge lorsque le champ est invalide et touché */
.ng-invalid.ng-touched {
    border: 1px solid red;
  }
  
  /* Optionnel : Ajouter un peu de marge pour les messages d'erreur */
  .text-danger, .alert-danger {
    margin-top: 5px;
  }
  .card {
    border-radius: 10px;
    border: none;
  }
  
  .btn-primary {
    background-color: #0d6efd;
    border: none;
    padding: 10px;
    font-weight: 500;
  }
  
  .form-control, .form-select {
    padding: 10px;
    border-radius: 5px;
  }