
/* Pour le mode plein écran sur mobile */
.full-page-chat {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    z-index: 100;
  }
  
  @media (min-width: 768px) {
    .full-page-chat {
      position: static;
      background: transparent;
    }
  }