<div class="container-fluid">
  <!-- Page Heading -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">All users</h6>
    </div>
    <div class="card-body">
      <a routerLink="/admin/adduser" class="btn btn-primary" style="float: right;">Add user</a>
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
          
            <tr>
              <th>User Name</th>
              <th>Email</th>
              <th>role</th>
              <th>Details</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>User Name</th>
              <th>Email</th>
              <th>role</th>
              <th>Details</th>
              <th>Delete</th>
            </tr>
          </tfoot>
          <tbody>
            <tr *ngFor="let item of dataArray;index as i">
              <td>{{ item.username }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.role }}</td>
              <td>
                <!-- Bouton Details -->
                <button class="btn btn-info btn-sm" (click)="viewDetails(item._id)">Details</button>
              </td>
              <td>
                <!-- Bouton Delete -->
                <button class="btn btn-danger btn-sm" (click)="deleteUsr(item._id,i)">Delete</button>
              </td>
              <td>
                <!-- Bouton update -->
                <button class="btn btn-success btn-sm" (click)="getData(item.username,item.role,item.email,item._id,i); openModal()" data-toggle="modal" data-target="#exampleModal">Update</button>
                             
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

   <!-- Modal start here -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" [attr.aria-hidden]="!modalVisible">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update User</h5>
        <button type="button" class="close" data-dismiss="modal"  (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- form update start here -->
        <form #f="ngForm" (ngSubmit)="updateNewUser(f)">
          <!-- username validation start here -->
              <div class="form-group">
          
                <label for="exampleFormControlInput1">UserName</label>
                <input type="text" class="form-control" placeholder="firstName" [(ngModel)]="dataUser.username" required name="username" #username="ngModel" ngModel minlength="2" maxlength="20">
              </div>
              <div class="alert alert-danger" *ngIf="username.errors?.['required'] && username.touched">
                username is required
              </div>
              <div class="alert alert-danger" *ngIf="username.errors?.['minlength'] && username.touched">
                username must be minimum 2 caractere
              </div>
          <!-- username validation end here -->
          
          <!-- role validation start here -->
              <div class="form-group">
                  <label for="exampleFormControlInput1">Role</label>
                  <input type="text" class="form-control" placeholder="lastname" [(ngModel)]="dataUser.role" required name="role" #role="ngModel" minlength="2" maxlength="20" ngModel>
                </div>
                <div class="alert alert-danger" *ngIf="role.errors?.['required'] && role.touched">
                  role is required
                </div>
                <div class="alert alert-danger" *ngIf="role.errors?.['minlength'] && role.touched">
                  role must be minimum 2 caractere
                </div>
          <!-- role validation end here -->
          
          <!-- Email validation start here -->
          
                <div class="form-group">
                  <label for="exampleFormControlInput1">email</label>
                  <input type="email" class="form-control" placeholder="email" [(ngModel)]="dataUser.email" email required name="email" #email="ngModel" ngModel>
                </div>
                <div class="alert alert-danger" *ngIf="email.errors?.['required'] && email.touched">
                  email is required
                </div>
          
                <div class="alert alert-danger" *ngIf="email.errors?.['email'] && email.touched">
                  the input must be email not string
                </div>
          <!-- Email validation end here -->
        
              <div class="alert alert-success" *ngIf="messageSuccess">
                  {{messageSuccess}}
              </div>      

             <button class="btn btn-primary" [disabled]="f.invalid">Update User</button>
            </form>

        <!-- form update end here -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
