<p>list-project works!</p>
<span>


    *****************  hello sameh 
    ****************************  from list project 
    b
</span>
<a
routerLink="./add"
class="bg-[#7826b5] hover:bg-[#5f1d8f] text-white px-3 py-2 rounded-lg flex items-center text-sm md:text-base"
>
<svg
  xmlns="http://www.w3.org/2000/svg"
  class="h-4 w-4 md:h-5 md:w-5 mr-1 md:mr-2"
  viewBox="0 0 20 20"
  fill="currentColor"
>
  <path
    fill-rule="evenodd"
    d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z"
    clip-rule="evenodd"
  />
</svg>
Ajouter un project
</a>
<router-outlet></router-outlet>